.vscode
build
android/local.properties
android/app/.cxx
android/.gradle
android/app/build
android/app/assets
android/.idea
android/.settings
android/CMakeFiles
**/.DS_Store
resources/gk2a/EncryptionKeyMessage.bin
.directory
vcpkg/
srv/
.env
.cache
